*{
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:gray
}

.container{
    width:1200px;
}
.wrap-1{
   margin-left:300px;
}
form{
    background-color:hsl(59, 65%, 21%);
   border:1px solid #fff;
    border-radius:10px;
  
}
.hed{
    margin-left:80px;
    text-decoration:underline;
    color:##5a1325
}